In [75]:
import pandas as pd 

df = pd.read_csv("/home/dikidwidasa/mlflow/data/customer.csv")
df = df[df['trans_count'] >0]
df = df.drop(['cus_id'], axis=1)    
len(df)/2

26135.0

In [80]:
bin_labels = [f"{i+1}" for i in range(5)]
df['avg_bal_bins'] = pd.cut(df['avg_bal'], bins=5, labels=bin_labels)
df['trans_count_bin'] = pd.cut(df['trans_count'], bins=5, labels=bin_labels)

df1 = df.iloc[:26135]
df2 = df.iloc[26135:]
df1.to_csv("/home/dikidwidasa/mlflow/data/customer1.csv")
df2.to_csv("/home/dikidwidasa/mlflow/data/customer2.csv")

In [85]:
from scipy.stats import chi2_contingency
import pandas as pd

# Example bin counts
df1_counts = df1['avg_bal_bins'].value_counts().sort_index()
df2_counts = df2['avg_bal_bins'].value_counts().sort_index()
print(
    f"df1_counts: {df1_counts}\n",
    f"df2_counts: {df2_counts}"
)

# Combine counts to ensure all bins are represented
all_bins = set(df1_counts.index).union(df2_counts.index)
df1_counts = df1_counts.reindex(all_bins, fill_value=0)
df2_counts = df2_counts.reindex(all_bins, fill_value=0)

# Add a small constant to avoid zeros (Laplace smoothing)
epsilon = 1e-6
df1_counts += epsilon
df2_counts += epsilon

# Create contingency table
cont_table = pd.DataFrame({'reff': df1_counts, 'test': df2_counts})

# Perform Chi-Square Test
chi2, pvalue, _, _ = chi2_contingency(cont_table.T)
print("Chi-Square Statistic:", chi2)
print("P-value:", pvalue)

if pvalue < 0.05:
    print("Significant drift detected!")
else:
    print("No significant drift detected.")

df1_counts: avg_bal_bins
1        4
2    26128
3        2
4        0
5        1
Name: count, dtype: int64
 df2_counts: avg_bal_bins
1        2
2    26132
3        1
4        0
5        0
Name: count, dtype: int64
Chi-Square Statistic: 2.0003037170599574
P-value: 0.7357030167119538
No significant drift detected.

In [87]:
import whylogs as why
target = why.log(df2).profile().view()
ref = why.log(df1).profile().view()

In [88]:
from whylogs.viz.drift.column_drift_algorithms import calculate_drift_scores

scores = calculate_drift_scores(target_view=target, reference_view=ref, with_thresholds = True)
scores

{'gender': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.1352999880552461),
  'statistic': 2.230614951458122,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'POSSIBLE_DRIFT'},
 'marital': {'algorithm': 'ks',
  'pvalue': np.float64(1.0),
  'statistic': 0.0012626745743256063,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'generation': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.0963816451235561),
  'statistic': 4.678878997554513,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'POSSIBLE_DRIFT'},
 'own_house': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.9283295745441676),
  'statistic': 0.008090407878132871,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'education': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.15495652546827302),
  'statistic': 5.241307400584118,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'job': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.8419273242406876),
  'statistic': 0.03977185113851513,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'inactive': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.21463142401005725),
  'statistic': 1.539908508427615,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'income': {'algorithm': 'ks',
  'pvalue': np.float64(0.9998828158486022),
  'statistic': 0.0029079778075378204,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'avg_bal': {'algorithm': 'ks',
  'pvalue': np.float64(0.6134475836461665),
  'statistic': 0.006619475798737326,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'trans_count': {'algorithm': 'ks',
  'pvalue': np.float64(0.7163516848585886),
  'statistic': 0.006083795676296133,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'credit_trans_amount': {'algorithm': 'ks',
  'pvalue': np.float64(0.4652943388137455),
  'statistic': 0.00742299598239915,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'recency_score': {'algorithm': 'ks',
  'pvalue': np.float64(0.9782653323451209),
  'statistic': 0.004132389515974749,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'avg_bal_bins': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.2864170868358146),
  'statistic': 2.5006123698714022,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'NO_DRIFT'},
 'trans_count_bin': {'algorithm': 'chi-square',
  'pvalue': np.float64(0.0),
  'statistic': inf,
  'thresholds': {'NO_DRIFT': (0.15, 1),
   'POSSIBLE_DRIFT': (0.05, 0.15),
   'DRIFT': (0, 0.05)},
  'drift_category': 'DRIFT'}}

In [81]:
df.columns

Index(['gender', 'marital', 'generation', 'own_house', 'education', 'job',
       'inactive', 'income', 'avg_bal', 'trans_count', 'credit_trans_amount',
       'recency_score', 'avg_bal_bins', 'trans_count_bin'],
      dtype='object')

In [64]:
# Get descriptive statistics
summary_stats = df1.describe()

# Format the columns to display in standard decimal format with 2 decimal places
formatted_stats = summary_stats.style.format("{:.2f}")

# Display the formatted statistics
formatted_stats

In [65]:
# Get descriptive statistics
summary_stats = df2.describe()

# Format the columns to display in standard decimal format with 2 decimal places
formatted_stats = summary_stats.style.format("{:.2f}")

# Display the formatted statistics
formatted_stats

In [66]:
def defineDriftCondition(start : int, end : int, df : pd.DataFrame) -> int:
    df_list = df['trans_count'].tolist()
    drift = []
    for i in df_list:
        if df_list[i] > start and df_list[i] < end:
            drift.append(1)
        else:
            drift.append(0)
    return sum(drift)

def defineDriftCondition2(start: int, end: int, df: pd.DataFrame) -> int:
    drift = ((df['trans_count'] < start)|(df['trans_count'] > end)).sum()
    return (round(drift/len(df)*100))

In [67]:
max = df1['trans_count'].max()
min = df1['trans_count'].min()
print(f"max : {max}, min : {min}")
def defineDriftCondition2(start: int, end: int, df: pd.DataFrame) -> int:
    drift = ((df['trans_count'] < start)|(df['trans_count'] > end)).sum()
    return (round(drift/len(df)*100))
x = defineDriftCondition2(1, max, df2)
x

max : 26185, min : 1

0